/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", helvetica,
    sans-serif;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(800px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 500;
}

.badge {
  text-align: center;
  margin-bottom: 16px;
}
.badge span {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}
.badge a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

li:last-child {
  border: 0;
}

/* For Is It Out */

.row {
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
  align-items: center;
}

.push-time {
  margin-left: auto;
  white-space: nowrap;
}

.ago, .small {
  font-size: 12px;
  text-align: center;
  color: #6c757d;
}


.note {
  text-align: center;
}

.LoginButton {
  font-size: 96px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  background-color: coral;
  transition: .2s ease;
}

.LoginButton:hover {
  color: coral;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid coral;
}

